127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

127.0.0.1 undercloud.example.com undercloud
117.114.139.165 mirrors.ustack.org
{{ repo_ustack_com }} repo.ustack.com
{{ registry_ustack_com }}  registry.ustack.com
{{ registry_dev_ustack_com }} registry-dev.ustack.com
